@model wardrobe2.Models.Accessory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Accessory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AccessoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessoryType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessoryType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessoryColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessoryColor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessorySeason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessorySeason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessoryOccassion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessoryOccassion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessoryPhoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessoryPhoto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AccessoryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
