@model IEnumerable<wardrobe2.Models.Accessory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccessoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessoryType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessoryColor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessorySeason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessoryOccassion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessoryPhoto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AccessoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccessoryType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccessoryColor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccessorySeason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccessoryOccassion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccessoryPhoto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AccessoryID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AccessoryID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AccessoryID })
        </td>
    </tr>
}

</table>
