@model wardrobe2.Models.Sho

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sho</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShoeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShoeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShoeType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShoeType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShoeColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShoeColor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShoeSeason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShoeSeason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShoeOccasion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShoeOccasion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShoePhoto)
        </dt>

        <dd>
            <a target="_blank" href="@Html.DisplayFor(model => model.ShoePhoto)">
                <img class="img-responsive right" src="@Html.DisplayFor(model => model.ShoePhoto)" />
            </a>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ShoeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
