@model wardrobe2.Models.Sho

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sho</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShoeName)
        </dd>

        <dt>
            Type:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShoeType)
        </dd>

        <dt>
            Color:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShoeColor)
        </dd>

        <dt>
            Season:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShoeSeason)
        </dd>

        <dt>
            Occassion:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShoeOccasion)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.ShoePhoto)*@
        </dt>

        <dd>
            <div class="container">
                <div class="sizeThemUp">
                    <a target="_blank" href="@Html.DisplayFor(model => model.ShoePhoto)">
                        <img class="img-responsive right" src="@Html.DisplayFor(model => model.ShoePhoto)" />
                    </a>
                </div>
            </div>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ShoeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
