@model IEnumerable<wardrobe2.Models.Sho>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ShoeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShoeType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShoeColor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShoeSeason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShoeOccasion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShoePhoto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ShoeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShoeType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShoeColor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShoeSeason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShoeOccasion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShoePhoto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ShoeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ShoeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ShoeID })
        </td>
    </tr>
}

</table>
