@model IEnumerable<wardrobe2.Models.Outfit>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Accessory.AccessoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bottom.BottomName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sho.ShoeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Top.TopName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OutfitID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OutfitID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OutfitID })
        </td>
    </tr>
}
