@model wardrobe2.Models.Top

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Top</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TopName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TopType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TopColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopColor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TopSeason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopSeason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TopOccasion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopOccasion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TopPhoto)
        </dt>

        <dd>
            <a target="_blank" href="@Html.DisplayFor(model => model.TopPhoto)">
                <img class="img-responsive right" src="@Html.DisplayFor(model => model.TopPhoto)" />
            </a>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TopID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
