@model IEnumerable<wardrobe2.Models.Top>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TopName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopColor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopSeason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopOccasion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopPhoto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TopName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TopType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TopColor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TopSeason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TopOccasion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TopPhoto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TopID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TopID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TopID })
        </td>
    </tr>
}

</table>
