@model wardrobe2.Models.Bottom

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bottom</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BottomName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BottomName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BottomType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BottomType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BottomColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BottomColor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BottomSeason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BottomSeason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BottomOccasion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BottomOccasion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BottomPhoto)
        </dt>

        <dd>
            <a target="_blank" href="@Html.DisplayFor(model => model.BottomPhoto)">
                <img class="img-responsive right" src="@Html.DisplayFor(model => model.BottomPhoto)" />
            </a>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BottomID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
