@model IEnumerable<wardrobe2.Models.Bottom>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BottomName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BottomType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BottomColor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BottomSeason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BottomOccasion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BottomPhoto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BottomName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BottomType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BottomColor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BottomSeason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BottomOccasion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BottomPhoto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BottomID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BottomID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BottomID })
        </td>
    </tr>
}

</table>
